.item-card-container {
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color-hover);
    border-color: var(--border-color-hover);
  }
  .item-name {
    font-size: 2rem;
    color: var(--font-color);
  }
  .item-price {
    font-size: 2rem;
    color: #4caf50;
  }
}
