.app-content {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  .layout-main-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .layout-main-content {
    flex: auto;
  }
}
