.side-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: flex-start;

  .side-menu {
    flex: auto;
    overflow: auto;
  }
}
